nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(255, 99, 71, 0.5), rgba(102, 51, 153, 0.5));
    color: #fff;
    position: fixed;
}

.logo {
    margin: 1rem;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
    border: #555 1px solid;
    transition: 0.3s;
    filter: invert(1);
}

.logo:hover {
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.1);
    filter: invert(0);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    padding-right: 2rem;
}

li {
    border-radius: 5px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: #fff;
}

.card_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.card_vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.sous_titre_section {
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1rem;
}