h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: 0 0 0.5em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 0.5em;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5em;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 0.5em;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin: 0 0 0.5em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 1em;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: 0 0 1em;
    text-decoration: none;
    color: darkslateblue;
}

a:hover {
    color: rgb(41, 33, 48);
}